#Accidentes en Barcelona

##Definición de objetivo - Contexto comercial y analítico

Mi nombre es Franco Vasquez, estoy graduado como Técnico Superior en Sonido y actualmente estudio la carrera Licenciatura en Sistemas. Desde hace años intento constantemente cuestionar por qué las cosas funcionan de la forma en que funcionan y de qué manera eso se puede mejorar.

A principios de este año comencé a planear un sistema mejorado que se encargue de controlar y modificar el funcionamiento de los semáforos de una ciudad. Esta idea se encuentra en sus primeros pasos y surge ante la necesidad de eliminar parcialmente momentos de espera innecesarios en semáforos rojos, como también mejorar la circulación en áreas y horarios de atascos y así prevenir choques en cadena, por ejemplo. Creo que en determinadas circunstancias como estas el proyecto puede llegar a ser provechoso si termina concretándose.

Presentado el caso, parece buena oportunidad aprovechar este curso para analizar los accidentes viales en una ciudad, y aislar los casos más relevantes para el proyecto, aquellos que a través de una mejora en el sistema pueden erradicarse o disminuir el número de víctimas.

El dataset elegido y con el que se trabajará muestra a las personas involucradas en accidentes gestionados por la Guardia Urbana en la ciudad de Barcelona que hayan sufrido algún tipo de lesión (herido leve, herido grave o muerte). Incluye la descripción de la persona (conductor, pasajero o peatón), sexo, edad, vehículo asociado a la persona y si la causa ha sido del peatón. Esta información está dividida por año, por lo que se tomó la decisión de tomar los útlimos 5 años para trabajar y sacar conclusiones.

##Preguntas o hipótesis de interés

Podemos analizar la información desde 3 diferentes puntos de vista. 

En primer lugar podemos hacer un análisis más descriptivo de qué clase de personas o qué clase de vehículo están involucrados en accidentes viales ¿Existirá alguna edad o genero más propenso a accidentarse? ¿Cuál es el motivo por el cuál tuvieron el accidente?

Por otro lado, debemos considerar aspectos más generales en cuanto a locación y época. ¿Qué barrios son los más necesitados de una renovación y mejora en la seguridad vial? ¿Varía la cantidad de accidentes a través de los meses? ¿Qué momento del día es más propenso a albergar más accidentes? ¿Y qué día de la semana?

Finalmente, contando con la información anterior, lograremos tener un mayor conocimiento de la situación en la que nos encontramos. De reunir toda la data posible, potencialmente podremos analizar qué casos pueden ser revertidos y prevenidos con la implementación del sistema de semaforización. Según causas, ubicación, fecha, horario y descripción de la persona (peatones y conductores), sabremos con seguridad y definición el porcentaje de accidentes que disminuirá con un buen uso del nuevo sistema.

#Data Acquisition

In [ ]:
import numpy as np
import pandas as pd

pd.set_option('display.notebook_repr_html',True)

In [ ]:
url_2018 = 'https://raw.githubusercontent.com/vasquezbfranco/SmartSignal/main/data_science/archivos/accidentes_bcn_2018.csv'
url_2019 = 'https://raw.githubusercontent.com/vasquezbfranco/SmartSignal/main/data_science/archivos/accidentes_bcn_2019.csv'
url_2020 = 'https://raw.githubusercontent.com/vasquezbfranco/SmartSignal/main/data_science/archivos/accidentes_bcn_2020.csv'
url_2021 = 'https://raw.githubusercontent.com/vasquezbfranco/SmartSignal/main/data_science/archivos/accidentes_bcn_2021.csv'
url_2022 = 'https://raw.githubusercontent.com/vasquezbfranco/SmartSignal/main/data_science/archivos/accidentes_bcn_2022.csv'

In [ ]:
df_2018 = pd.read_csv(url_2018)
df_2019 = pd.read_csv(url_2019).rename(columns ={'Num_postal':'street_name'})
df_2020 = pd.read_csv(url_2020)
df_2021 = pd.read_csv(url_2021)
df_2022 = pd.read_csv(url_2022)

#Data Wrangling

## Concatenate

In [ ]:
array_df = [df_2018,df_2019,df_2020,df_2021,df_2022]

columns_filter = ['case_id','district_id','district_name','neighborhood_id','neighborhood_name','street_id','street_name','zip_code',
                  'weekday','year','month','month_name','day','time_of_day','hour','cause','vehicle_involved','sex','age','person',
                  'description_of_victim','coordenate_x','coordenate_y','longitude','latitude']

columns_renames = {'Numero_expedient':'case_id', 'Numero_Expedient':'case_id', 'Codi_districte':'district_id', 'Nom_districte':'district_name', 'Codi_barri':'neighborhood_id',
                'Nom_barri':'neighborhood_name', 'Codi_carrer':'street_id', 'Nom_carrer':'street_name', 'Num_postal':'zip_code', 'Num_postal ':'zip_code', 'Num_postal.1':'zip_code',
                'Descripcio_dia_setmana':'weekday', 'Any':'year', 'NK_ Any':'year', 'Mes_ any':'month', 'Nom_mes':'month_name', 'Dia_mes':'day',
                'Descripcio_torn':'time_of_day', 'Hora_dia':'hour', 'Descripcio_causa_vianant':'cause', 'Desc_Tipus_vehicle_implicat':'vehicle_involved', 
                'Descripcio_sexe':'sex', 'Descripció_sexe':'sex', 'Edat':'age', 'Descripcio_tipus_persona':'person', 'Descripció_tipus_persona':'person',
                'Descripcio_victimitzacio':'description_of_victim', 'Coordenada_UTM_X':'coordenate_x', 'Coordenada_UTM_Y':'coordenate_y',
                'Coordenada_UTM_X_ED50':'coordenate_x', 'Coordenada_UTM_Y_ED50':'coordenate_y','Longitud':'longitude', 'Longitud_WGS84':'longitude', 'Latitud':'latitude', 'Latitud_WGS84':'latitude'}

In [ ]:
for df_i in array_df:
  df_i.rename(columns = columns_renames, inplace=True)
  df_i.drop(columns=[col for col in df_i if col not in columns_filter], inplace=True)
  print(df_i.columns)
  print("-"*50)

Index(['case_id', 'district_id', 'district_name', 'neighborhood_id',
       'neighborhood_name', 'street_id', 'street_name', 'zip_code', 'weekday',
       'year', 'month', 'month_name', 'day', 'time_of_day', 'hour', 'cause',
       'vehicle_involved', 'sex', 'age', 'person', 'description_of_victim',
       'coordenate_x', 'coordenate_y', 'longitude', 'latitude'],
      dtype='object')
--------------------------------------------------
Index(['case_id', 'district_id', 'district_name', 'neighborhood_id',
       'neighborhood_name', 'street_id', 'street_name', 'zip_code', 'weekday',
       'year', 'month', 'month_name', 'day', 'time_of_day', 'hour', 'cause',
       'vehicle_involved', 'sex', 'age', 'person', 'description_of_victim',
       'coordenate_x', 'coordenate_y', 'longitude', 'latitude'],
      dtype='object')
--------------------------------------------------
Index(['case_id', 'district_id', 'district_name', 'neighborhood_id',
       'neighborhood_name', 'street_id', 'street_name', 'zip_code', 'weekday',
       'year', 'month', 'month_name', 'day', 'time_of_day', 'hour', 'cause',
       'vehicle_involved', 'sex', 'age', 'person', 'description_of_victim',
       'coordenate_x', 'coordenate_y', 'longitude', 'latitude'],
      dtype='object')
--------------------------------------------------
Index(['case_id', 'district_id', 'district_name', 'neighborhood_id',
       'neighborhood_name', 'street_id', 'street_name', 'zip_code', 'weekday',
       'year', 'month', 'month_name', 'day', 'time_of_day', 'hour', 'cause',
       'vehicle_involved', 'sex', 'age', 'person', 'description_of_victim',
       'coordenate_x', 'coordenate_y', 'longitude', 'latitude'],
      dtype='object')
--------------------------------------------------
Index(['case_id', 'district_id', 'district_name', 'neighborhood_id',
       'neighborhood_name', 'street_id', 'street_name', 'zip_code', 'weekday',
       'year', 'month', 'month_name', 'day', 'time_of_day', 'hour', 'cause',
       'vehicle_involved', 'sex', 'age', 'person', 'description_of_victim',
       'coordenate_x', 'coordenate_y', 'longitude', 'latitude'],
      dtype='object')
--------------------------------------------------

In [ ]:
df = pd.concat(array_df, axis=0)

In [ ]:
for df_i in array_df:
  print(df_i.shape)
print("")
df.shape

(11854, 25)
(11844, 25)
(13810, 25)
(8854, 25)
(9065, 25)

(55427, 25)

## Sorting values

In [ ]:
df.sort_values('case_id',ascending=True)

,case_id,district_id,district_name,neighborhood_id,neighborhood_name,street_id,street_name,zip_code,weekday,year,...,cause,vehicle_involved,sex,age,person,description_of_victim,coordenate_x,coordenate_y,longitude,latitude
0,2018S000001,3,Sants-Montjuïc,11,el Poble-sec,273400,Paral·lel ...,117-119,Dilluns,2018,...,No és causa del vianant,Turisme,Home,41,Conductor,Ferit lleu: Amb assistència sanitària en lloc ...,429910.63,4580909.28,2.160723,41.374806
1,2018S000001,3,Sants-Montjuïc,11,el Poble-sec,273400,Paral·lel ...,NaN,Dilluns,2018,...,No és causa del vianant,Turisme,Home,54,Conductor,Ferit lleu: Amb assistència sanitària en lloc ...,429910.63,4580909.28,2.160723,41.374806
2,2018S000002,2,Eixample,9,la Nova Esquerra de l'Eixample,361406,Viladomat / Rosselló ...,NaN,Dilluns,2018,...,No és causa del vianant,Ciclomotor,Home,45,Conductor,Ferit lleu: Hospitalització fins a 24h,428882.97,4582216.76,2.148281,41.386492
3,2018S000003,10,Sant Martí,64,el Camp de l'Arpa del Clot,161407,Indústria ...,252,Dilluns,2018,...,No és causa del vianant,Motocicleta,Home,70,Conductor,Ferit lleu: Hospitalització fins a 24h,431447.19,4585099.12,2.178621,41.412675
4,2018S000005,8,Nou Barris,56,Vallbona,330606,C-17 (Barcelona) ...,K14,Dilluns,2018,...,No és causa del vianant,Turisme,Dona,33,Conductor,Ferit lleu: Hospitalització fins a 24h,431568.59,4590758.85,2.179432,41.463661
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9060,2022S008011,8,Nou Barris,48,la Guineueta,75101,Caçador,0004X0004X,Dissabte,2022,...,No és causa del vianant,Turisme,Dona,43,Passatger,Ferit lleu: Amb assistència sanitària en lloc ...,430485.77,4588271.35,2.167856,41.443010
9061,2022S008012,6,Gràcia,31,la Vila de Gràcia,90502,Còrsega,0339 0339,Dimarts,2022,...,No és causa del vianant,Motocicleta,Dona,48,Conductor,Ferit lleu: Hospitalització fins a 24h,429947.47,4583465.10,2.161969,41.399675
9062,2022S008013,2,Eixample,8,l'Antiga Esquerra de l'Eixample,32700,Balmes,0083 0083,Dissabte,2022,...,No és causa del vianant,Motocicleta,Home,27,Conductor,Ferit lleu: Hospitalització fins a 24h,429886.43,4582706.80,2.161327,41.392840
9063,2023S000004,6,Gràcia,28,Vallcarca i els Penitents,279600,República Argentina,0068 0068,Dissabte,2022,...,No és causa del vianant,Bicicleta,Home,48,Conductor,Ferit lleu: Amb assistència sanitària en lloc ...,428745.03,4584807.59,2.147428,41.411660
9064,2023S000550,2,Eixample,7,la Dreta de l'Eixample,335100,Tetuan,0010 0010,Dilluns,2022,...,Desobeir el senyal del semàfor,Turisme,Dona,51,Vianant,Ferit lleu: Hospitalització fins a 24h,431126.80,4583044.11,2.176124,41.395985

## Data Comprenhension

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55427 entries, 0 to 9064
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                55427 non-null  object
 1   district_id            55427 non-null  int64
 2   district_name          55427 non-null  object
 3   neighborhood_id        55427 non-null  int64
 4   neighborhood_name      55427 non-null  object
 5   street_id              55427 non-null  int64
 6   street_name            50150 non-null  object
 7   zip_code               48180 non-null  object
 8   weekday                55427 non-null  object
 9   year                   55427 non-null  int64
 10  month                  55427 non-null  int64
 11  month_name             55427 non-null  object
 12  day                    55427 non-null  int64
 13  time_of_day            55427 non-null  object
 14  hour                   55427 non-null  int64
 15  cause                  55427 non-null  object
 16  vehicle_involved       55427 non-null  object
 17  sex                    55427 non-null  object
 18  age                    55427 non-null  object
 19  person                 55427 non-null  object
 20  description_of_victim  55427 non-null  object
 21  coordenate_x           55427 non-null  object
 22  coordenate_y           55427 non-null  object
 23  longitude              55305 non-null  float64
 24  latitude               55305 non-null  float64
dtypes: float64(2), int64(7), object(16)
memory usage: 11.0+ MB

In [ ]:
# busco todos las cadenas de string presentes en el dataframe para traducir al ingles y trabajar mejor
print('cause')
print(df['cause'].value_counts())
print('-'*35)
print('description_of_victim')
print(df['description_of_victim'].value_counts())
print('-'*35)
print('vehicle_involved')
print(df['vehicle_involved'].value_counts())
print('-'*35)
print('person')
print(df['person'].value_counts())
print('-'*35)

cause
No és causa del  vianant           38704
Desconegut                         12991
Creuar per fora pas de vianants     1241
Desobeir el senyal del semàfor      1116
Altres                               711
Desobeir el senyal del semŕfor       346
Transitar a peu per la calçada       298
Desobeir altres senyals               20
Name: cause, dtype: int64
-----------------------------------
description_of_victim
Ferit lleu: Hospitalització fins a 24h                      32186
Ferit lleu: Amb assistència sanitària en lloc d'accident    11079
Il.lčs                                                       5774
Ferit lleu: Rebutja assistència sanitària                    2261
Ferit lleu: Amb assistčncia sanitŕria en lloc d'accident     1908
Ferit greu: hospitalització superior a 24h                    923
Desconegut                                                    819
Ferit lleu: Rebutja assistčncia sanitŕria                     382
Mort (dins 24h posteriors accident)                            92
Es desconeix                                                    1
Mort (després de 24h posteriors accident)                       1
Mort natural                                                    1
Name: description_of_victim, dtype: int64
-----------------------------------
vehicle_involved
Motocicleta                            24489
Turisme                                13566
Bicicleta                               3529
Ciclomotor                              3470
Veh. mobilitat personal amb motor       2703
Autobús                                 2189
Furgoneta                               2050
Taxi                                    1251
Autobús articulat                        925
Camió rígid <= 3,5 tones                 279
Camió rígid > 3,5 tones                  236
Tot terreny                              217
Altres vehicles amb motor                113
Veh. mobilitat personal sense motor      105
Tractor camió                             83
Desconegut                                46
Tren o tramvia                            41
Autocar                                   21
Ambulància                                21
Quadricicle < 75 cc                       20
Altres vehicles sense motor               18
Maquinària d'obres i serveis              16
Maquinŕria d'obres i serveis              14
Autocaravana                               5
Quadricicle > 75 cc                        4
Pick-up                                    4
Ambulŕncia                                 4
Microbús <= 17                             3
Tricicle                                   3
Carro                                      2
Name: vehicle_involved, dtype: int64
-----------------------------------
person
Conductor     40923
Passatger      9389
Vianant        5111
Desconegut        4
Name: person, dtype: int64
-----------------------------------

In [ ]:
df['cause'] = df['cause'].str.replace(pat='No és causa del  vianant',repl='It is not the cause of the pedestrian',)
df['cause'] = df['cause'].str.replace(pat='Desobeir el senyal del semàfor',repl='Disobey the traffic light signal',)
df['cause'] = df['cause'].str.replace(pat='Creuar per fora pas de vianants',repl='Cross over the pedestrian crossing',)
df['cause'] = df['cause'].str.replace(pat='Altres',repl='Other',)
df['cause'] = df['cause'].str.replace(pat='Transitar a peu per la calçada',repl='Walk along the road',)
df['cause'] = df['cause'].str.replace(pat='Desobeir altres senyals',repl='Disobey other signals',)
df['description_of_victim'] = df['description_of_victim'].str.replace(pat='Ferit lleu: Hospitalització fins a 24h',repl='Minor injury: Hospitalization up to 24 hours',)
df['description_of_victim'] = df['description_of_victim'].str.replace(pat='Ferit lleu: Amb assistència sanitària en lloc d\'accident',repl='Minor injury: With health care in place of accident',)
df['description_of_victim'] = df['description_of_victim'].str.replace(pat='Ferit lleu: Rebutja assistència sanitària',repl='Minor injury: Refuse medical attention',)
df['description_of_victim'] = df['description_of_victim'].str.replace(pat='Ferit greu: hospitalització superior a 24h',repl='Serious injury: hospitalization for more than 24 hours',)
df['description_of_victim'] = df['description_of_victim'].str.replace(pat='Mort (dins 24h posteriors accident)',repl='Death (within 24 hours after the accident)',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Motocicleta',repl='Motorcycle',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Turisme',repl='Turism',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Bicicleta',repl='Bicycle',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Veh. mobilitat personal amb motor',repl='Personal mobility vehicle with engine',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Ciclomotor',repl='Moped',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Autobús',repl='Bus',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Furgoneta',repl='Van',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Autobús articulat',repl='Articulated Bus',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Altres vehicles amb motor',repl='Other motor vehicles',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Camió rígid <= 3,5 tones',repl='Rigid truck <= 3.5 tons',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Tot terreny',repl='All terrain',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Camió rígid > 3,5 tones',repl='Rigid truck > 3.5 tons',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Ambulància',repl='Ambulance',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Tractor camió',repl='Tractor truck',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Tren o tramvia',repl='Train',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Quadricicle < 75 cc',repl='Quadricycle < 75 cc',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Altres vehicles sense motor',repl='Other non-motorized vehicles',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Quadricicle > 75 cc  ',repl='Quadricycle > 75 cc',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Veh. mobilitat personal sense motor',repl='Personal mobility vehicle without engine',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Maquinària d\'obres i serveis',repl='Construction machinery and services',)
df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Autocaravana',repl='Motorhome',)
df['weekday'] = df['weekday'].str.replace(pat='Dilluns',repl='Monday',)
df['weekday'] = df['weekday'].str.replace(pat='Dimarts',repl='Tuesday',)
df['weekday'] = df['weekday'].str.replace(pat='Dimecres',repl='Wednesday',)
df['weekday'] = df['weekday'].str.replace(pat='Dijous',repl='Thursday',)
df['weekday'] = df['weekday'].str.replace(pat='Divendres',repl='Friday',)
df['weekday'] = df['weekday'].str.replace(pat='Dissabte',repl='Saturday',)
df['weekday'] = df['weekday'].str.replace(pat='Diumenge',repl='Sunday',)
df['month_name'] = df['month_name'].str.replace(pat='Gener',repl='January')
df['month_name'] = df['month_name'].str.replace(pat='Febrer',repl='February')
df['month_name'] = df['month_name'].str.replace(pat='Març',repl='March')
df['month_name'] = df['month_name'].str.replace(pat='Abril',repl='April')
df['month_name'] = df['month_name'].str.replace(pat='Maig',repl='May')
df['month_name'] = df['month_name'].str.replace(pat='Juny',repl='June')
df['month_name'] = df['month_name'].str.replace(pat='Juliol',repl='July')
df['month_name'] = df['month_name'].str.replace(pat='Agost',repl='August')
df['month_name'] = df['month_name'].str.replace(pat='Setembre',repl='September')
df['month_name'] = df['month_name'].str.replace(pat='Octubre',repl='October')
df['month_name'] = df['month_name'].str.replace(pat='Novembre',repl='November')
df['month_name'] = df['month_name'].str.replace(pat='Desembre',repl='December')
df['sex'] = df['sex'].str.replace(pat='Home',repl='M',)
df['sex'] = df['sex'].str.replace(pat='Dona',repl='F',)
df['person'] = df['person'].str.replace(pat='Conductor',repl='Driver',)
df['person'] = df['person'].str.replace(pat='Passatger',repl='Passenger',)
df['person'] = df['person'].str.replace(pat='Vianant',repl='Pedestrian',)

<ipython-input-11-e7e2ecb39a03>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df['description_of_victim'] = df['description_of_victim'].str.replace(pat='Mort (dins 24h posteriors accident)',repl='Death (within 24 hours after the accident)',)
<ipython-input-11-e7e2ecb39a03>:15: FutureWarning: The default value of regex will change from True to False in a future version.
  df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Veh. mobilitat personal amb motor',repl='Personal mobility vehicle with engine',)
<ipython-input-11-e7e2ecb39a03>:30: FutureWarning: The default value of regex will change from True to False in a future version.
  df['vehicle_involved'] = df['vehicle_involved'].str.replace(pat='Veh. mobilitat personal sense motor',repl='Personal mobility vehicle without engine',)

## Tratamiento de nulos

In [ ]:
#Reemplazo 'Desconegut' (desonocido) por NaN e imprimo los nulos por columna
df = df.replace('Desconegut',np.nan)
print(df.isnull().sum())
print (df.shape)

case_id                      0
district_id                  0
district_name              173
neighborhood_id              0
neighborhood_name          173
street_id                    0
street_name               5427
zip_code                  7388
weekday                      0
year                         0
month                        0
month_name                   0
day                          0
time_of_day                  0
hour                         0
cause                    12991
vehicle_involved            46
sex                        696
age                         69
person                       4
description_of_victim      819
coordenate_x                 0
coordenate_y                 0
longitude                  122
latitude                   122
dtype: int64
(55427, 25)

In [ ]:
# la columna cause contienen muchos nulos, no la utilizaremos
df.drop(columns = ['cause'],inplace=True)
print(df.isnull().sum())
print(df.shape)

case_id                     0
district_id                 0
district_name             173
neighborhood_id             0
neighborhood_name         173
street_id                   0
street_name              5427
zip_code                 7388
weekday                     0
year                        0
month                       0
month_name                  0
day                         0
time_of_day                 0
hour                        0
vehicle_involved           46
sex                       696
age                        69
person                      4
description_of_victim     819
coordenate_x                0
coordenate_y                0
longitude                 122
latitude                  122
dtype: int64
(55427, 24)

In [ ]:
# imputo los nulos de la columna 'age'
df_age_nonull = df['age'].copy()
df_age_nonull.dropna(inplace=True)
df_age_nonull = df_age_nonull.astype(str).astype(float)
df['age'].fillna(df_age_nonull.mean(), inplace=True)
df['age'] = df['age'].astype(str).astype(float)
print(df.isnull().sum())
print(df.shape)

case_id                     0
district_id                 0
district_name             173
neighborhood_id             0
neighborhood_name         173
street_id                   0
street_name              5427
zip_code                 7388
weekday                     0
year                        0
month                       0
month_name                  0
day                         0
time_of_day                 0
hour                        0
vehicle_involved           46
sex                       696
age                         0
person                      4
description_of_victim     819
coordenate_x                0
coordenate_y                0
longitude                 122
latitude                  122
dtype: int64
(55427, 24)

In [ ]:
# podemos dropear algunas filas que no tengan impacto al eliminarlas

df = df.dropna(subset=['vehicle_involved', 'person','description_of_victim','sex'])
print(df.isnull().sum())
print(df.shape)

case_id                     0
district_id                 0
district_name             172
neighborhood_id             0
neighborhood_name         172
street_id                   0
street_name              5425
zip_code                 7377
weekday                     0
year                        0
month                       0
month_name                  0
day                         0
time_of_day                 0
hour                        0
vehicle_involved            0
sex                         0
age                         0
person                      0
description_of_victim       0
coordenate_x                0
coordenate_y                0
longitude                 122
latitude                  122
dtype: int64
(54495, 24)

In [ ]:
# los datos faltantes son de localizacion, los cuales podemos obtener gracias a las coordenadas que no poseen nulos
# falta codigo

In [ ]:
# añadimos una nueva columna de fecha concatenando año mes y día
cols=["year","month","day"]
df = df.reset_index()
df = df.drop('index', axis=1)
df['date'] = df[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
df.date= pd.to_datetime(df.date) 

print(df.shape)
df

(54495, 25)

,case_id,district_id,district_name,neighborhood_id,neighborhood_name,street_id,street_name,zip_code,weekday,year,...,vehicle_involved,sex,age,person,description_of_victim,coordenate_x,coordenate_y,longitude,latitude,date
0,2018S000001,3,Sants-Montjuïc,11,el Poble-sec,273400,Paral·lel ...,117-119,Monday,2018,...,Turism,M,41.0,Driver,Minor injury: With health care in place of acc...,429910.63,4580909.28,2.160723,41.374806,2018-01-01
1,2018S000001,3,Sants-Montjuïc,11,el Poble-sec,273400,Paral·lel ...,NaN,Monday,2018,...,Turism,M,54.0,Driver,Minor injury: With health care in place of acc...,429910.63,4580909.28,2.160723,41.374806,2018-01-01
2,2018S000002,2,Eixample,9,la Nova Esquerra de l'Eixample,361406,Viladomat / Rosselló ...,NaN,Monday,2018,...,Moped,M,45.0,Driver,Minor injury: Hospitalization up to 24 hours,428882.97,4582216.76,2.148281,41.386492,2018-01-01
3,2018S000003,10,Sant Martí,64,el Camp de l'Arpa del Clot,161407,Indústria ...,252,Monday,2018,...,Motorcycle,M,70.0,Driver,Minor injury: Hospitalization up to 24 hours,431447.19,4585099.12,2.178621,41.412675,2018-01-01
4,2018S000005,8,Nou Barris,56,Vallbona,330606,C-17 (Barcelona) ...,K14,Monday,2018,...,Turism,F,33.0,Driver,Minor injury: Hospitalization up to 24 hours,431568.59,4590758.85,2.179432,41.463661,2018-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54490,2022S008011,8,Nou Barris,48,la Guineueta,75101,Caçador,0004X0004X,Saturday,2022,...,Turism,F,43.0,Passenger,Minor injury: With health care in place of acc...,430485.77,4588271.35,2.167856,41.443010,2022-12-31
54491,2022S008012,6,Gràcia,31,la Vila de Gràcia,90502,Còrsega,0339 0339,Tuesday,2022,...,Motorcycle,F,48.0,Driver,Minor injury: Hospitalization up to 24 hours,429947.47,4583465.10,2.161969,41.399675,2022-12-06
54492,2022S008013,2,Eixample,8,l'Antiga Esquerra de l'Eixample,32700,Balmes,0083 0083,Saturday,2022,...,Motorcycle,M,27.0,Driver,Minor injury: Hospitalization up to 24 hours,429886.43,4582706.80,2.161327,41.392840,2022-12-10
54493,2023S000004,6,Gràcia,28,Vallcarca i els Penitents,279600,República Argentina,0068 0068,Saturday,2022,...,Bicycle,M,48.0,Driver,Minor injury: With health care in place of acc...,428745.03,4584807.59,2.147428,41.411660,2022-12-31
54494,2023S000550,2,Eixample,7,la Dreta de l'Eixample,335100,Tetuan,0010 0010,Monday,2022,...,Turism,F,51.0,Pedestrian,Minor injury: Hospitalization up to 24 hours,431126.80,4583044.11,2.176124,41.395985,2022-12-19

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54495 entries, 0 to 54494
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                54495 non-null  object
 1   district_id            54495 non-null  int64
 2   district_name          54323 non-null  object
 3   neighborhood_id        54495 non-null  int64
 4   neighborhood_name      54323 non-null  object
 5   street_id              54495 non-null  int64
 6   street_name            49070 non-null  object
 7   zip_code               47118 non-null  object
 8   weekday                54495 non-null  object
 9   year                   54495 non-null  int64
 10  month                  54495 non-null  int64
 11  month_name             54495 non-null  object
 12  day                    54495 non-null  int64
 13  time_of_day            54495 non-null  object
 14  hour                   54495 non-null  int64
 15  vehicle_involved       54495 non-null  object
 16  sex                    54495 non-null  object
 17  age                    54495 non-null  float64
 18  person                 54495 non-null  object
 19  description_of_victim  54495 non-null  object
 20  coordenate_x           54495 non-null  object
 21  coordenate_y           54495 non-null  object
 22  longitude              54373 non-null  float64
 23  latitude               54373 non-null  float64
 24  date                   54495 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(7), object(14)
memory usage: 10.4+ MB

Tenemos las siguientes columnas:

* **case_id**: Identificador único de accidente
*   **district_id**: Identificador de Distrito
*   **district_name**: Nombre de Distrito
*   **neighborhood_id**: Identificador de Barrio
* **neighborhood_name**: Nombre de Barrio
* **street_id**: Identificador de Calle
* **street_name**: Nombre de Calle
* **zip_code**: Código postal del lugar del accidente
* **weekday**: Día de la semana del accidente
* **year**: Año del accidente
* **month**: Número de Mes del accidente
* **month_name**: Nombre de Mes del accidente
* **day**: Número de Día del accidente
* **hour**: hora del accidente
* **cause**: Causa del accidente
* **vehicle_involved**: Vehículo involucrado en el accidente
* **sex**: Sexo de la víctima
* **age**: Edad de la víctima
* **person**: Rol de la víctima
* **description_of_victim**: Gravedad del accidente
* **coordenate_x**: Coordenada X
* **coordenate_y**: Coordenada Y
* **longitude**: Longitud
* **latitude**: Latitud
* **date**: Fecha del accidente

## Tratamiento de duplicados

In [ ]:
df.duplicated(subset="case_id").value_counts()

False    38726
True     15769
dtype: int64

En este caso,

## Merge

In [ ]:
url = 'https://raw.githubusercontent.com/vasquezbfranco/SmartSignal/main/data_science/archivos/inventario_semaforos.csv'

In [ ]:
df_traffic_lights = pd.read_csv(url)
df_traffic_lights

,ID_Semafor,Codi_Semafor,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Longitud,Latitud,X_ETRS89,Y_ETRS89,Data_Alta
0,415227,ArmarioSim,NaN,NaN,NaN,NaN,2.094896,41.375543,424312.672,4580842.381,1900/01/01
1,415228,ArmarioSim,NaN,NaN,NaN,NaN,2.091653,41.369542,424034.492,4580179.061,1900/01/01
2,415229,ArmarioSim,NaN,NaN,NaN,NaN,2.089232,41.355098,423815.166,4578577.595,1900/01/01
3,415242,ArmarioSim,NaN,NaN,NaN,NaN,2.225559,41.418246,435281.562,4585477.333,1900/01/01
4,415243,ArmarioSim,NaN,NaN,NaN,NaN,2.220889,41.421307,434894.303,4585820.716,1900/01/01
...,...,...,...,...,...,...,...,...,...,...,...
115671,433609,Via 12-200 PPC,10.0,Sant Martí,73.0,la Verneda i la Pau,2.198696,41.423716,433042.255,4586105.067,2010/02/24
115672,433610,13-200 RAV,10.0,Sant Martí,73.0,la Verneda i la Pau,2.198702,41.423725,433042.784,4586106.100,2010/02/24
115673,433611,SseSMP,10.0,Sant Martí,73.0,la Verneda i la Pau,2.198662,41.423664,433039.357,4586099.246,2010/02/24
115674,433613,13-200 RAV,10.0,Sant Martí,73.0,la Verneda i la Pau,2.198662,41.423664,433039.357,4586099.246,2010/02/24
115675,433614,Via 12-200 PPC,10.0,Sant Martí,73.0,la Verneda i la Pau,2.198669,41.423673,433039.933,4586100.255,2010/02/24

In [ ]:
df_traffic_lights = df_traffic_lights[['ID_Semafor','X_ETRS89','Y_ETRS89','Data_Alta']]
df_traffic_lights.rename(columns={'ID_Semafor':'traffic_light_id', 'X_ETRS89':'coordenate_x', 'Y_ETRS89':'coordenate_y', 'Data_Alta':'register_date'},inplace=True)
df_traffic_lights

<ipython-input-21-4e9b9f101d4d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic_lights.rename(columns={'ID_Semafor':'traffic_light_id', 'X_ETRS89':'coordenate_x', 'Y_ETRS89':'coordenate_y', 'Data_Alta':'register_date'},inplace=True)

        traffic_light_id  coordenate_x  coordenate_y register_date
0                 415227    424312.672   4580842.381    1900/01/01
1                 415228    424034.492   4580179.061    1900/01/01
2                 415229    423815.166   4578577.595    1900/01/01
3                 415242    435281.562   4585477.333    1900/01/01
4                 415243    434894.303   4585820.716    1900/01/01
...                  ...           ...           ...           ...
115671            433609    433042.255   4586105.067    2010/02/24
115672            433610    433042.784   4586106.100    2010/02/24
115673            433611    433039.357   4586099.246    2010/02/24
115674            433613    433039.357   4586099.246    2010/02/24
115675            433614    433039.933   4586100.255    2010/02/24

[115676 rows x 4 columns]

In [ ]:
df['coordenate_x'] = df['coordenate_x'].str.replace(pat=',', repl='.')
df = df.replace("'-1",np.nan)
df['coordenate_y'] = df['coordenate_y'].str.replace(pat=',',repl='.')

In [ ]:
df['coordenate_x'] = df['coordenate_x'].astype(str).astype(float)
df['coordenate_y'] = df['coordenate_y'].astype(str).astype(float)

df_traffic_lights['coordenate_x'] = df_traffic_lights['coordenate_x'].astype(str).astype(float)
df_traffic_lights['coordenate_y'] = df_traffic_lights['coordenate_y'].astype(str).astype(float)

<ipython-input-23-baeb326469d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic_lights['coordenate_x'] = df_traffic_lights['coordenate_x'].astype(str).astype(float)
<ipython-input-23-baeb326469d5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic_lights['coordenate_y'] = df_traffic_lights['coordenate_y'].astype(str).astype(float)

In [ ]:
df_traffic_lights[['coordenate_x','coordenate_y']].round(decimals = 1)
df_traffic_lights[['coordenate_x','coordenate_y']] = df_traffic_lights[['coordenate_x','coordenate_y']].round(decimals = 0)

<ipython-input-24-8e8de35e60ab>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic_lights[['coordenate_x','coordenate_y']] = df_traffic_lights[['coordenate_x','coordenate_y']].round(decimals = 0)

In [ ]:
df = pd.merge(left=df,right=df_traffic_lights, on=['coordenate_x','coordenate_y'], how='left')

In [ ]:
df

,case_id,district_id,district_name,neighborhood_id,neighborhood_name,street_id,street_name,zip_code,weekday,year,...,age,person,description_of_victim,coordenate_x,coordenate_y,longitude,latitude,date,traffic_light_id,register_date
0,2018S000001,3,Sants-Montjuïc,11,el Poble-sec,273400,Paral·lel ...,117-119,Monday,2018,...,41.0,Driver,Minor injury: With health care in place of acc...,NaN,NaN,2.160723,41.374806,2018-01-01,NaN,NaN
1,2018S000001,3,Sants-Montjuïc,11,el Poble-sec,273400,Paral·lel ...,NaN,Monday,2018,...,54.0,Driver,Minor injury: With health care in place of acc...,NaN,NaN,2.160723,41.374806,2018-01-01,NaN,NaN
2,2018S000002,2,Eixample,9,la Nova Esquerra de l'Eixample,361406,Viladomat / Rosselló ...,NaN,Monday,2018,...,45.0,Driver,Minor injury: Hospitalization up to 24 hours,NaN,NaN,2.148281,41.386492,2018-01-01,NaN,NaN
3,2018S000003,10,Sant Martí,64,el Camp de l'Arpa del Clot,161407,Indústria ...,252,Monday,2018,...,70.0,Driver,Minor injury: Hospitalization up to 24 hours,NaN,NaN,2.178621,41.412675,2018-01-01,NaN,NaN
4,2018S000005,8,Nou Barris,56,Vallbona,330606,C-17 (Barcelona) ...,K14,Monday,2018,...,33.0,Driver,Minor injury: Hospitalization up to 24 hours,NaN,NaN,2.179432,41.463661,2018-01-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54490,2022S008011,8,Nou Barris,48,la Guineueta,75101,Caçador,0004X0004X,Saturday,2022,...,43.0,Passenger,Minor injury: With health care in place of acc...,430485.77,4588271.35,2.167856,41.443010,2022-12-31,NaN,NaN
54491,2022S008012,6,Gràcia,31,la Vila de Gràcia,90502,Còrsega,0339 0339,Tuesday,2022,...,48.0,Driver,Minor injury: Hospitalization up to 24 hours,429947.47,4583465.10,2.161969,41.399675,2022-12-06,NaN,NaN
54492,2022S008013,2,Eixample,8,l'Antiga Esquerra de l'Eixample,32700,Balmes,0083 0083,Saturday,2022,...,27.0,Driver,Minor injury: Hospitalization up to 24 hours,429886.43,4582706.80,2.161327,41.392840,2022-12-10,NaN,NaN
54493,2023S000004,6,Gràcia,28,Vallcarca i els Penitents,279600,República Argentina,0068 0068,Saturday,2022,...,48.0,Driver,Minor injury: With health care in place of acc...,428745.03,4584807.59,2.147428,41.411660,2022-12-31,NaN,NaN
54494,2023S000550,2,Eixample,7,la Dreta de l'Eixample,335100,Tetuan,0010 0010,Monday,2022,...,51.0,Pedestrian,Minor injury: Hospitalization up to 24 hours,431126.80,4583044.11,2.176124,41.395985,2022-12-19,NaN,NaN

In [ ]:
# se aplica el concepto de merge, debo encontrar la forma de hacer coincidir las coordenadas